body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: lighter;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.header {
  background-color: #1F2937;
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 250px;
}

.hero {
  background-color: #1F2937;
  padding: 120px 250px;
  display: flex;
  gap: 20px;
}

.herocontainer {
  width: 450px;
}

.herobig {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.herosmall {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  font-size: 18px;
  font-weight: bold;
  color: #F9FAF8;
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
  margin: 16px 0px;
}

.information {
  text-align: center;
  padding: 60px;
}

.infobig {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.infocontainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 60px;
}

.infosmall {
  font-size: 18px;
  color: #1F2937;
  width: 170px;
}

.image {
  height: 170px;
  border: 4px solid #3882F6;
  border-radius: 20px;
  margin-bottom: 10px;
}